

:root {
    --nr-columns-rows: 3; /* CSS variable for number of rows and columns */
    --cell-column-width : 75px;
    --cell-rainbow-color : rgb(255,0,0);
    
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-grid {
    display: grid;
    grid-template-columns: repeat(var(--nr-columns-rows), minmax(var(--cell-column-width), var(--cell-column-width)));
    grid-auto-rows: var(--cell-column-width);
    grid-gap: 0px;
    width: 600px;
    height: 600px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 0px;
    font-size: 15px;
    text-align: center;
  }

.on-hover-black {
    background-color: black;
}

.on-hover-rainbow {
    background-color: var(--cell-rainbow-color);
}